<!DOCTYPE html>
<html>
<head>
	<title>机票信息列表</title>
	<#include "/header.html">
		</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-3">
				<input type="text" v-model="q.orderNum" @keyup.enter="query" placeholder="订单号">
				<input type="text" v-model="q.userpName" @keyup.enter="query" placeholder="下单人姓名">
			</div>
			<div class="form-group col-sm-3">
				<input type="text" v-model="q.contactUserName" @keyup.enter="query" placeholder="联系人姓名">
				<label class="radio-inline">
					<input type="radio" name="ticketOrderType" value="1" v-model="q.ticketOrderType"/> 单程
				</label>
				<label class="radio-inline">
					<input type="radio" name="ticketOrderType" value="2" v-model="q.ticketOrderType"/> 往返
				</label>
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<!--<#if shiro.hasPermission("sys:user:save")>-->
				<!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
			<!--</#if>-->
			<!--<#if shiro.hasPermission("sys:user:update")>-->
				<!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
			<!--</#if>-->
			<!--<#if shiro.hasPermission("sys:user:delete")>-->
				<!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<!--</#if>-->
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-3 control-label">名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.name" placeholder="名称"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">描述</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.description" placeholder="描述"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">入境次数</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.enterCountryNum" placeholder="入境次数"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">停留天数</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.stayDay" placeholder="停留天数"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">有效期</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.validityTime" placeholder="有效期"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">套餐内容</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.comboContent" placeholder="套餐内容"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">办理时间</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.handleTime" placeholder="办理时间"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">是否需要面签</div>
				<label class="radio-inline">
					<input type="radio" name="visaInterview" value="0" v-model="baseInformation.visaInterview"/> 不需要
				</label>
				<label class="radio-inline">
					<input type="radio" name="visaInterview" value="1" v-model="baseInformation.visaInterview"/> 需要
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">保证金</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.cashDeposit" placeholder="保证金"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">处理范围</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.handleRange" placeholder="处理范围"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">套餐描述</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="baseInformation.comboDescription" placeholder="套餐描述"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label">状态</div>
				<label class="radio-inline">
					<input type="radio" name="delFlag" value="-1" v-model="baseInformation.delFlag"/> 禁用
				</label>
				<label class="radio-inline">
					<input type="radio" name="delFlag" value="0" v-model="baseInformation.delFlag"/> 正常
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script src="${request.contextPath}/statics/js/modules/business/airticket/airTicketOrder.js?_${.now?long}"></script>
</body>
</html>
